<div id="clearance" class="container col-sm-4">
	<h2 class="container text-center"><%= t(".title") %></h2>

	<%= form_for @user do |form| %>
	<%= render partial: '/users/form', object: form %>

	<div class="text-center">
		<%= form.submit "Sign up", class: "btn btn-primary" %>	
	</div>
	<% end %>
</div>
