<div class="row">
	<div class="col-sm-12 text-center about2">
		<h1>About</h1>
		<img src="https://i.imgur.com/0gE62Di.jpg" alt="avatar" class="img-circle img-rounded" >

		<h3 class="text-center info">Trần Hữu Dũng</h3>
		<h4 class="text-center info">1412108</h4>

		<div id="map">
	</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuCSoiHyBsKUyOCgxhj35wGQM_NhJEEO0&callback=myMap"></script>



